.login-form {
  padding: 0;
  max-width: 50rem;
  margin: 2rem auto 5rem;
}
.login-form form {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  p a {
    color: dodgerblue;
    margin-left: 5px;
  }
}
