.top-nav {
  background-color: var(--green);
  font-size: 1.3rem;
  color: var(--white);

  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  ul {
    display: flex;
    align-items: center;
  }

  div {
    justify-content: space-between;
    height: 4.5rem;
  }
  a {
    color: var(--white);
    padding: 0 0.5rem;
  }
}

.navigation {
  height: 6rem;
  line-height: 6rem;
}

.icons {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;

  .icons {
    display: none;
  }
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav-link {
    font-size: 1.8rem;
    padding: 1rem;

    &:hover {
      color: var(--green);
    }
  }

  .hamburger {
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
  }
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  span {
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    max-width: 35rem;

    &.open {
      padding-left: 0;
      width: 100%;
    }
    .nav-item {
      margin: 0 0 1rem 0;
      padding-left: 0.5rem;
      width: 100%;
    }
    .nav-link {
      font-size: 2rem;
      color: var(--black);
    }
    .icons {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }
  .icons {
    display: none;
  }
  .nav-center .hamburger {
    display: block;
    color: var(--black);
    font-size: 3rem;
  }
  .top-nav {
    p {
      padding: 1rem;
    }
    ul {
      display: none;
    }
    div {
      justify-content: center;
      height: fit-content;
    }
  }
}
