/* 
=================
Header
=================
*/

.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.top-nav {
  background-color: var(--green);
  font-size: 1.3rem;
  color: var(--white);

  div {
    justify-content: space-between;
    height: 4.5rem;
  }
  a {
    color: var(--white);
    padding: 0 0.5rem;
  }
}
