.title {
  text-align: center;
  margin-bottom: 5rem;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.all-products .top select {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

form {
  position: relative;
  z-index: 1;

  span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
}

@media only screen and (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }
}

@media only screen and (max-width: 567px) {
  .products {
    max-width: 100%;
    padding: 0 1rem;
  }
}
